/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home.module.css */

.mainContent {
  padding: 1rem 4rem;
  text-align: center;
  background-color: #ffffff; /* light background */
}

.heroSection {
  background-color: white; /* clean white background */
  padding: 3rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  margin-bottom: 3rem;
  justify-content: space-between;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.heroSubtitle {
  font-size: 1.7rem;
  font-weight: 490;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.heroDescription {
  max-width: 1800px;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  text-align: center;
  line-height: 1.7;
}

/* Styling for the image */
.image {
  width: 100%; /* Make the image responsive */
  max-width: 800px; /* Set a max-width for larger images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  object-fit: cover; /* Ensures the image fills the area without stretching */
  margin-top: 1rem; /* Optional: Adds some space above the image */
}

@media screen and (max-width: 996px) {
  .image {
    max-width: 100%; /* Make sure the image fits on smaller screens */
  }
}
