/* Style for h2 (##) */
h2, h1, h3 {
  color: #1f4d7d; /* Blue */
}

/* Style for h3 (###) */
/* h3 {
  color: #f1c40f; 
} */
/* p, li, div {
  color: #3a3e3e; 
} */
 
/* Custom CSS */
/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px; 
  margin: 0;
} */

/* .container > div {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  text-align: center;
  margin-bottom: 20px;
} */

/* .container > div h3 {
  margin-bottom: 15px;
} */

/* .image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;  
}

.image-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0;
} */

/* .text-content {
  flex: 1;
  margin-left: 15px;
} */

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

.row > div {
  flex: 1;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .row > div {
    max-width: 100%;
    margin-bottom: 15px; /* Spacing between blocks */
  }
}
h3 {
    margin: auto;  /* Removes all margins */
    padding: auto; /* Optional: removes padding as well if there's any */
}
.subagent-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -50px;
  padding: 0;
}

.subagent-section > div {
  padding: 0;
  margin: 0;
}

.subagent-section img {
  margin: 0;
}


